boto3==1.12.21
botocore==1.15.21
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.8
docutils==0.15.2
filelock==3.0.12
Flask==1.1.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
MarkupSafe==1.1.1
mkl-service==2.3.0
numpy==1.18.1
olefile==0.46
Pillow==7.0.0
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
regex==2020.2.20
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.85
six==1.14.0
tokenizers==0.0.11
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
transformers==2.4.1
urllib3==1.25.8
Werkzeug==1.0.0
win-inet-pton==1.1.0
wincertstore==0.2
