<!DOCTYPE html>
<html>
    <head>
        <title>Random Company Name</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the website of Random Company Name !</h1>
        <p>If you have any question, feel free to ask one of our employee (Not a robot) using the box at the bottom right of your screen.</p>
        </div>
    </body>
</html>